<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Confirmar eliminación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding compact-content">
  <div>
    <ion-icon name="warning-outline" color="danger" size="large" slot="end"></ion-icon>
    <div>
      <h2 class="ion-text-center">¿Estás seguro?</h2>
      <p>
        Estás a punto de eliminar al cliente
        <strong>
          {{ userData.nombre }}
          {{ userData.segundo_nombre }}
          {{ userData.apellido }}
          {{ userData.segundo_apellido }}
        </strong>
      </p>
      <ion-text color="danger">
        <small>Esta acción no se puede deshacer.</small>
      </ion-text>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar class="ion-flex-row">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close-outline"></ion-icon>
        Cancelar
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="danger" (click)="confirm()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Eliminar usuario
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
