<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-list>
      <ion-input
        type="text"
        name="nombre_completo"
        [(ngModel)]="dataUsuarioWc.nombre_completo"
        label="Nombre completo"
        label-placement="floating"
        maxlength="50"
        minlength="5"
        fill="outline"
      >
      </ion-input>

      <ion-input
        type="number"
        name="contacto"
        label="Número de contacto"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="dataUsuarioWc.contacto"
        maxlength="20"
        minlength="5"
      ></ion-input>

      <ion-input
        type="email"
        name="correo"
        [(ngModel)]="dataUsuarioWc.correo"
        label="Correo electrónico"
        label-placement="floating"
        helperText="Ingrese un correo valido"
        errorText="Correo invalido"
        fill="outline"
        maxlength="70"
        minlength="5"
      ></ion-input>

      <!-- Documento -->
      <ion-select
        (click)="getDocumentos()"
        interface="popover"
        label="Tipo de documento"
        name="id_tipo_documento"
        [(ngModel)]="dataUsuarioWc.id_tipo_documento"
        placeholder="Seleccione"
        fill="outline"
      >
        @for(documento of documentos(); track documento.id; let i = $index){
        <ion-select-option [value]="documento.id">
          {{ documento.abreviatura }} - {{ documento.nombre_documento }}
        </ion-select-option>
        }
      </ion-select>

      <ion-input
        type="text"
        name="documento"
        [(ngModel)]="dataUsuarioWc.documento"
        label="Número de documento"
        label-placement="floating"
        fill="outline"
        maxlength="20"
        minlength="5"
      ></ion-input>

      <ion-select
        (click)="getRoles()"
        interface="popover"
        label="Rol a asignar"
        name="id_rol_usuario"
        [(ngModel)]="dataUsuarioWc.id_rol_usuario"
        placeholder="Seleccione"
        fill="outline"
      >
        @for(rol of roles(); track rol.id_rol; let i = $index){
        <ion-select-option [value]="rol.id_rol">
          {{ rol.nombre_rol }}
        </ion-select-option>
        }
      </ion-select>

      <ion-input
        type="text"
        name="nombre_usuario"
        label="Nombre del usuario"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="dataUsuarioWc.nombre_usuario"
      ></ion-input>

      <ion-input
        type="password"
        name="contrasena"
        label="Ingrese la contraseña"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="dataUsuarioWc.contrasena"
      ></ion-input>
    </ion-list>

    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button expand="block" color="medium" (click)="cancelar()"
          >Cancelar</ion-button
        >
        <ion-button
          expand="block"
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          >Guardar</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-content>
