<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text class="ion-padding-top align-items-center">
    <h1 class="ion-padding-horizontal">Dashboard ActivaMecodex</h1>
  </ion-text>

  <ion-grid>
    <ion-row>

      <!-- Mostrar el total de clientes de Mecodex -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Total de clientes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-client-chart>

            </app-client-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mostrar el total de clientes de Mecodex por país -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Clientes por país</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-pais-chart>

            </app-pais-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>

      <!-- Mostrar el total de planes adquiridos por Mecodex -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Total planes adquiridos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-planes-chart>

            </app-planes-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mostrar el total de clientes de Mecodex -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Calificaciones de Mecodex</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            1000
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- 
    Contenedor del gráfico con padding para que no toque los bordes 
  -->
  <div class="ion-padding">
    
    <!-- 
      Componente de ApexCharts 
      - [series]: Los datos a graficar (conectado a chartOptions.series del .ts)
      - [chart]: Configuración del tipo de gráfico y altura
      - [xaxis]: Las categorías del eje X
      - [title]: El título del gráfico
      - #chart: Referencia local (conectada al @ViewChild en el .ts)
    -->
    <apx-chart
      #chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [title]="chartOptions.title!"
    ></apx-chart>

    <!-- 
      Botón opcional para demostrar cómo actualizar los datos del gráfico 
    -->
    <ion-button expand="block" (click)="actualizarDatos()">
      Actualizar Datos
    </ion-button>

  </div>

</ion-content>
