/* Divisor de sección con texto centrado */
.card-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.img-lateral {
  width: 450px;
  height: auto;
  border-radius: 8px;
}

.info-cuenta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
