ion-content{
    background-image: url('/src/assets/img/fondo_login_v2.avif') !important;
    background-size: cover;
}

ion-text h1{
    color: #000;
    font-size: 32px
}

.card-center {
    width: 100%;
    max-width: 75%;
    margin: 15vh auto;
}

img{
    border-radius: 12px;
}

ion-content {
    --background: var(--ion-color-light);
}

ion-input{
    margin: 50px 0;
}

.box-shadow{
    box-shadow: 0px -2px 20px 0px rgba(0,0,0,0.72);
    -webkit-box-shadow: 0px -2px 20px 0px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px -2px 20px 0px rgba(0,0,0,0.72);
}
