<ion-content 
  [fullscreen]="true" 
  scrollY="false"
  class="ion-flex ion-justify-content-center ion-align-items-center"
>
<!-- Pre loader -->
 <!-- @if(loading()){
  <div class="ion-text-center ion-padding">
    <img src="assets/img/loader.svg" alt="Cargando...">
  </div>
 } @else {

 } -->

  <ion-card class="card-center box-shadow">
    <ion-card-content >
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="texto-bienvenida">
              <ion-text class="ion-padding ion-text-center">
                <h1>
                  Bienvenido de nuevo a <span color="'primary'">ActivaMecodex</span>
                </h1>
              </ion-text>
            </div>
            <form class="">
              <ion-input
                class="ion-margin-vertical"
                label="Correo o Usuario"
                label-placement="floating"
                fill="outline"
                clearInput="true"
                type="text"
                [(ngModel)]="usuario"
                name="usuario"
                required
              >
              <ion-icon slot="start" color="primary" name="cloud-outline" aria-hidden="true"></ion-icon>
            </ion-input>

              <ion-input
                class="ion-margin-vertical"
                label="Contraseña"
                label-placement="floating"
                fill="outline"
                type="password"
                clearInput="true"
                [(ngModel)]="clave"
                name="clave"
                required
              >
              <ion-icon slot="start" color="primary" name="key-outline" aria-hidden="true"></ion-icon>
            </ion-input>

            <ion-button
              size="large"
              type="submit"
              expand="block"
              color="primary"
              (click)="loginUsuario(usuario, clave)"
            > Iniciar sesión
            </ion-button>
          </form>
        </ion-col>

          <!-- Imagen -->
          <ion-col size="12" size-md="6">
            <img class="login-img" src="assets/img/login_activa_mecodex.png" alt="login_activamecodex">
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
