<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar nuevo cliente</ion-title>
    <!-- Botón para cerrar el modal -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- Identificación y nombres -->
    <ion-item class="ion-margin-vertical">
      <ion-input
        required
        type="text"
        name="nombre"
        [(ngModel)]="dataUsuario.nombre"
        name="nombre"
        label="Primer nombre"
        label-placement="floating"
        color="primary"
        maxlength="20"
        minlength="5"
        >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="text"
        name="segundo_nombre"
        [(ngModel)]="dataUsuario.segundo_nombre"
        name="segundo_nombre"
        label="Segundo nombre"
        label-placement="floating"
        fill="inline"
        color="primary"
        maxlength="20"
        minlength="5"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        required
        type="text"
        name="apellido"
        [(ngModel)]="dataUsuario.apellido"
        name="apellido"
        label="Primer apellido"
        label-placement="floating"
        fill="inline"
        placeholder="Doe"
        color="primary"
        maxlength="20"
        minlength="5"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="text"
        name="segundo_apellido"
        [(ngModel)]="dataUsuario.segundo_apellido"
        name="segundo_apellido"
        label="Segundo apellido"
        label-placement="floating"
        fill="inline"
        placeholder="Doe"
        color="primary"
        maxlength="20"
        minlength="5"
      ></ion-input>
    </ion-item>

    <!-- Documento -->
    <ion-item>
      <ion-label position="stacked">Tipo de documento</ion-label>
      <ion-select
        (click)="listarDocumentos()"
        required
        interface="popover"
        name="id_tipo_documento"
        [(ngModel)]="dataUsuario.id_tipo_documento"
        name="id_tipo_documento"
        placeholder="Seleccione"
      >
        @for(documento of documentos(); track documento.id; let i = $index){
        <ion-select-option [value]="documento.id">
          {{ documento.abreviatura }} - {{ documento.nombre_documento }}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Documento</ion-label>
      <ion-input
        type="text"
        name="documento"
        [(ngModel)]="dataUsuario.documento"
        name="documento"
        maxlength="20"
        minlength="5"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de expedición</ion-label>
      <ion-input
        type="date"
        name="fecha_expedicion"
        [(ngModel)]="dataUsuario.fecha_expedicion"
        name="fecha_expedicion"
      ></ion-input>
    </ion-item>

    <!-- Contacto y dirección -->
    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input
        type="tel"
        name="telefono"
        [(ngModel)]="dataUsuario.telefono"
        name="telefono"
        [max]="20"
        maxlength="20"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input
        type="email"
        name="correo"
        [(ngModel)]="dataUsuario.correo"
        name="correo"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input
        type="text"
        name="direccion"
        [(ngModel)]="dataUsuario.direccion"
        name="direccion"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <!-- País -->
    <ion-item>
      <ion-label position="stacked">País</ion-label>
      <ion-select
        (click)="listarPaises()"
        interface="popover"
        name="id_pais"
        [(ngModel)]="dataUsuario.id_pais"
        placeholder="Seleccione"
      >
        @for(pais of paises(); track pais.id; let i = $index){
        <ion-select-option [value]="pais.id">
          {{ pais.nombre }}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <!-- Plan -->
    <ion-item>
      <ion-label position="stacked">Plan MECODEX</ion-label>
      <ion-select
        interface="popover"
        [(ngModel)]="dataUsuario.PLAN_MECODEX"
        name="plan_mecodex"
        placeholder="Seleccione"
      >
        <ion-select-option value="LITE">LITE</ion-select-option>
        <ion-select-option value="PRO">PRO</ion-select-option>
        <ion-select-option value="PRO PLUS">PRO PLUS</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Fechas -->
    <ion-item>
      <ion-label position="stacked">Fecha de creación</ion-label>
      <ion-input
        type="date"
        [(ngModel)]="dataUsuario.fecha_creacion"
        name="fecha_creacion"
      ></ion-input>
    </ion-item>

    <!-- Observaciones -->
    <ion-item>
      <ion-label position="stacked">Observación cliente</ion-label>
      <ion-textarea
        auto-grow="true"
        [(ngModel)]="dataUsuario.observacion_cliente"
        name="observacion_cliente"
        maxlength="255"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Observación comercial</ion-label>
      <ion-textarea
        auto-grow="true"
        [(ngModel)]="dataUsuario.observacion_comercial"
        name="observacion_comercial"
        maxlength="255"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Observación soporte</ion-label>
      <ion-textarea
        auto-grow="true"
        [(ngModel)]="dataUsuario.observacion_soporte"
        name="observacion_soporte"
        maxlength="255"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Observación cuenta</ion-label>
      <ion-textarea
        auto-grow="true"
        [(ngModel)]="dataUsuario.observacion_cuenta"
        name="observacion_cuenta"
        maxlength="255"
      ></ion-textarea>
    </ion-item>

    <!-- Acciones -->
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">

      <ion-button expand="block" color="medium" (click)="cancelar()">Cancelar</ion-button>
      <ion-button expand="block" color="primary" (click)="guardar()">Guardar</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>