<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar nuevo cliente</ion-title>
    <!-- Botón para cerrar el modal -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <ion-list>

      <ion-input
        hidden
        required
        type="text"
        name="id_cliente"
        [ngModel]="dataCuenta()?.id_cliente"
        label-placement="floating"
        fill="outline"
        maxlength="20"
        minlength="5"
      ></ion-input>

      <ion-input
      type="email"
      name="correo"
      label="Correo"
      label-placement="floating"
      fill="outline"
      [ngModel]="dataCuenta()?.correo"
      maxlength="50"
      required
    ></ion-input>

    <!-- select -->
      <ion-input
      required
      type="text"
      name="estado"
      [ngModel]="dataCuenta()?.estado"
      label="Seleccione el estado"
      label-placement="floating"      
      maxlength="20"
      minlength="5"
      fill="outline"
      >
    </ion-input>

      <ion-input
        type="text"
        name="password"
        [ngModel]="dataCuenta()?.password"
        label="Ingrese la contraseña"
        label-placement="floating"
        fill="outline"
        maxlength="20"
        minlength="5"
      ></ion-input>

        <ion-select
          (click)="getLicencias()"
          (ionChange)="getLicenciaSeleccionada($event)"
          (ionDismiss)="actualizarPlan()"
          label="Plan Mecodex"
          name="id"
          placeholder="Seleccione"
          fill="outline"
        >
          @for(licencia of licencias(); track licencia.id; let i =
          $index){
          <ion-select-option [value]="licencia.id">
            {{ licencia.nombre }}
          </ion-select-option>
          }
        </ion-select>

    <!-- País -->
      <ion-select
        (click)="listarPaises()"
        interface="popover"
        name="id_pais"
        label="País"
        label-placement="floating"
        fill="outline"
        required
        [ngModel]="dataCuenta()?.id_pais"
        placeholder="Seleccione"
      >
        @for(pais of paises(); track pais.id; let i = $index){
        <ion-select-option [value]="pais.id">
          {{ pais.nombre }}
        </ion-select-option>
        }
      </ion-select>

    
  </ion-list>

    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button expand="block" color="medium" (click)="cancelar()">Cancelar</ion-button>
        <ion-button expand="block" color="primary" type="submit" [disabled]="form.invalid">Guardar</ion-button>
      </ion-buttons>
    </ion-toolbar>
</form>
</ion-content>