<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Log Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding compact-content">
  <div>
    <ion-icon name="warning-outline" color="danger" size="large" slot="end"></ion-icon>
    <div>
      ¿Are you sure you want to log out?
    </div>
  </div>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar class="ion-flex-row">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="start" name="close-outline"></ion-icon>
        Bye
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

